<div class="md-container">
    <div class="md-dashed"></div>
    <div class="md-bar md-bar1" {{bind-attr style=bar1Style}}></div>
    <div class="md-bar md-bar2" {{bind-attr style=bar2Style}}></div>
</div>
