{{#md-sidenav classNames="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" sidebarVisible=sidebarVisible}}

    {{#md-toolbar}}
        <h1 class="md-toolbar-tools">
            {{#link-to 'index' flex='' layoutType="row"}}
                <img src="images/ember-construction-57.png" width="48" height="48">
            <div class="docs-logotype">Material Design</div>
            {{/link-to}}
        </h1>
    {{/md-toolbar}}
    <md-content flex>
        <ul class="docs-menu">
            <li>
                {{#link-to 'buttons' class="md-button"}}Buttons{{/link-to}}
            </li>

            <li>
                {{#link-to 'content' class="md-button"}}Content{{/link-to}}
            </li>

            <li>
                {{#link-to 'divider' class="md-button"}}Divider{{/link-to}}
            </li>

            <li>
                {{#link-to 'index' classNames="md-button"}}Index{{/link-to}}
            </li>

        </ul>
    </md-content>

{{/md-sidenav}}

<div layout="column" role="main" flex tabindex="-1">
    {{#md-toolbar}}
        <div class="md-toolbar-tools">
            <button class="docs-menu-icon" hide-gt-sm aria-label="Toggle Menu">

            </button>

            <div class="fill-height" flex layout="row">
                <div class="md-toolbar-item md-breadcrumb">
                    <span>
                        <span hide-sm hide-md>{{menu.currentSection.name}}</span>
                        <span class="docs-menu-separator-icon" style="" hide-sm hide-md>
                            <img src="images/docArrow.png" aria-hidden="true" alt="">
                        </span>
                    </span>
                    <span class="md-breadcrumb-page">{{menu.currentPage}}</span>
                </div>
            </div>

            <span flex></span>

            <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">

            </div>

        </div>
    {{/md-toolbar}}

    <md-content class="md-padding" md-scroll-y flex>
        {{outlet}}
    </md-content>



</div>
