<md-content class="extraPad">
    <p>The <strong>Ember Material</strong> project is an implementation of Material Design in EmberJS. This project provides a set of reusable, well-tested and accessible UI
    components based on the Material Design system.</p>

    <p>
    This project is as close to a reference implementation of <a href="http://material.angularjs.org">Angular Material</a> as I could make it.
    </p>

    <ul class="buckets" layout layout-align="center center" layout-wrap>
        <li flex="25" flex-md="50" flex-sm="50">
            <md-card>
                <md-card-content>
                    {{#link-to 'index'}}Getting Started{{/link-to}}
                </md-card-content>
            </md-card>
        </li>
        <li flex="25" flex-md="50" flex-sm="50">
            <md-card>
                <md-card-content>
                    {{#link-to 'index'}}Demos{{/link-to}}
                </md-card-content>
            </md-card>
        </li>
        <li flex="25" flex-md="50" flex-sm="50">
            <md-card>
                <md-card-content>
                    {{#link-to 'index'}}Customization{{/link-to}}
                </md-card-content>
            </md-card>
        </li>
        <li flex="25" flex-md="50" flex-sm="50">
            <md-card>
                <md-card-content>
                    {{#link-to 'index'}}API Reference{{/link-to}}
                </md-card-content>
            </md-card>
        </li>
    </ul>

    <h2>What is Material Design?</h2>
    <p>
        <a href="http://www.google.com/design/spec/material-design/">Material Design</a> is a specification for a
                                                                                         unified system of visual, motion, and interaction design that adapts across different devices and different
                                                                                         screen sizes.

                                                                                         Below is a brief video that presents the Material Design system:
    </p>

    <section layout="row" layout-sm="column" layout-align="center center"
             style="background: #f7f7f7; border-radius: 3px; padding-bottom: 10px; margin: 1em; text-align: center;">
        {{#md-button style="margin: 1em;"}}Button{{/md-button}}
        {{#md-button classNames="md-primary" mdNoInk="true" style="margin: 1em;"}}Primary (md-noink){{/md-button}}
        {{#md-button classNames="md-primary" disabled="disabled" style="margin: 1em;"}}Disabled{{/md-button}}
        {{#md-button classNames="md-warn" style="margin: 1em;"}}Warn{{/md-button}}
    </section>

    <section layout="row" layout-sm="column" layout-align="center center"
             style="background: #f7f7f7; border-radius: 3px; padding-bottom: 10px; margin: 1em; text-align: center;">
        {{#md-button classNames="md-raised" style="margin: 1em;"}}Button{{/md-button}}
        {{#md-button classNames="md-raised md-primary" style="margin: 1em;"}}Primary{{/md-button}}
        {{#md-button classNames="md-raised md-primary" disabled="disabled" style="margin: 1em;"}}Disabled{{/md-button}}
        {{#md-button classNames="md-raised md-warn" style="margin: 1em;"}}Warn{{/md-button}}
    </section>

    <section layout="row" layout-sm="column" layout-align="center center"
             style="background: #f7f7f7; border-radius: 3px; padding-bottom: 10px; margin: 1em; text-align: center;">
        {{#md-button classNames="md-fab" style="margin: 1em;"}}+{{/md-button}}
        {{#md-button classNames="md-fab md-primary" style="margin: 1em;"}}++{{/md-button}}
        {{#md-button classNames="md-fab" disabled="disabled" style="margin: 1em;"}}:({{/md-button}}
        {{#md-button classNames="md-fab md-warn" style="margin: 1em;"}}*{{/md-button}}
    </section>


    <md-content class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em;">

        {{#md-input-container}}
            <label>Title</label>
            {{md-input type="text" class="md-input"}}
        {{/md-input-container}}

        {{#md-input-container}}
            <label>Email</label>
            {{md-input type="email" class="md-input" placeholder="test"}}
        {{/md-input-container}}
    </md-content>


    <md-content layout="row" layout-align="center center" style="padding-bottom: 25px;" >
        <iframe width="560" height="315" title="Material Design" src="//www.youtube.com/embed/Q8TXgCzxEnw"
                frameborder="0" allowfullscreen></iframe>
    </md-content>
</md-content>
