$button-border-radius: 3px !default;
$button-fab-border-radius: 50% !default;

md-toolbar .md-button.md-fab {
  background-color: white;
}

.md-button {
  // theme specific items
  border-radius: $button-border-radius;

  &:not([disabled]) {
    &:hover,
    &:focus {
      background-color: rgba(color($background, "500"), 0.2);
    }
  }

  &.md-primary {
    color: color($primary);

    &.md-raised,
    &.md-fab {
      color: color($primary, contrast);
      background-color: color($primary);
      &:not([disabled]) {
        &:hover,
        &:focus {
          background-color: color($primary, "600");
        }
      }
    }
  }

  &.md-fab {
    border-radius: $button-fab-border-radius;
    background-color: color($accent);
    color: color($accent, contrast);
    &:not([disabled]) {
      &:hover,
      &:focus {
        background-color: color($accent, 'A700');
      }
    }
  }

  &.md-raised {
    color: color($background, contrast);
    background-color: color($background, "50");
    &:not([disabled]) {
      &:hover,
      &:focus {
        background-color: color($background, "200");
      }
    }
  }

  &.md-warn {
    color: color($warn);

    &.md-raised,
    &.md-fab {
      color: color($warn, contrast);
      background-color: color($warn);
      &:not([disabled]) {
        &:hover,
        &:focus {
          background-color: color($warn, "700");
        }
      }
    }
  }

  &.md-accent {
    color: color($accent);

    &.md-raised,
    &.md-fab {
      color: color($accent, contrast);
      background-color: color($accent);
      &:not([disabled]) {
        &:hover,
        &:focus {
          background-color: color($accent, "700");
        }
      }
    }
  }

  &[disabled],
  &.md-raised[disabled],
  &.md-fab[disabled] {
    color: color($foreground, "3");
    background-color: transparent;
    cursor: not-allowed;
  }
}
